{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container py-4">
    <div class="form-box row justify-content-center align-items-center mx-2">
        <div class="col-sm-12 col-md-6 login-box">
            <h2 class="text-center">Patient Details Form</h2>
            <p class="text-center text-secondary">Please fill out your personal details to help us provide you with the
                best care possible. All fields are required for accurate record-keeping.</p>

            <form method="POST" class="form">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="justify-content-center">
                    <button id="login-btn" type="submit" class="btn btn-primary fs-5 my-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}