* {
    font-family: "Quicksand", sans-serif;
}

#logout-nav {
    border: 1.2px solid rgb(196, 11, 11);
    border-radius: 8px;
    color: rgb(196, 11, 11);
}

#logout-nav:hover {
    color: white;
    background-color: rgb(196, 11, 11);
}

#register-nav {
    border: 1px solid rgb(73, 121, 226);
    border-radius: 8px;
    color: rgb(73, 121, 226);
}

#register-nav:hover {
    color: white;
    background-color: rgb(73, 121, 226);
}

.active {
    font-weight: 500;
}

#login-btn {
    width: 100%;
    border-radius: 12px;
}

#login-link {
    text-decoration: none;
}

#login-link:hover {
    text-decoration: underline;
    font-weight: 500;
}

#register-form label {
    font-size: 1.5rem;
}

#register-form input {
    font-size: 1.25rem;
}